<head>
    <link rel="stylesheet" type="text/css" href="/assets/css/movieIndex.css">
</head>
<section>
    <h1>Movies</h1>
    <ul>
        {{#each myMovies}}
        <a href="/movies/{{this.id}}"><img src="{{this.picture}}"></a>
        {{/each}}
    </ul>

    <a href="/movies/newMovie">New Movie</a>
    <br>
    <br>
    <br>

    <a href="/books">Want to see the books?</a>
</section>