<section>
<h1>Movies</h1>
<ul>
    {{#each myMovies}}
    <li>
        <a href= "/movies/{{this.id}}">{{this.title}}</a>
    </li>
    {{/each}}
</ul>

<a href="/movies/newMovie">New Movie</a>
<br>
<br>
<br>

<a href="/books">Want to see the books?</a>
</section>

<style>
    body{
        background-image: url("https://images.squarespace-cdn.com/content/v1/5cf7fa4ee0c75a0001f65816/1561759535607-RPIH4ZNKHQ2WI1FCSDEI/ke17ZwdGBToddI8pDm48kNiEM88mrzHRsd1mQ3bxVct7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z4YTzHvnKhyp6Da-NYroOW3ZGjoBKy3azqku80C789l0topjEaZcWjtmMYdCWL4dkGbxs35J-ZjFa9s1e3LsxrX8g4qcOj2k2AL08mW_Htcgg/MovieNightIcon-01.png");
        color: black;
       
    }
    a{
        color: black;
        text-align: center;
        font-size: 18px;
    }
    a:hover{
        color:blue;
    }
    section{
        margin: 0px 0px 20px 100px; 
    }
</style>