<h1>Books</h1>
<ul>
    {{#each myBooks}}
    <li>
        <a href= "/books/{{this.id}}">{{this.title}}</a>
    </li>
    {{/each}}
</ul>

<a href="/books/newBook">New Book</a>

<br>
<br>
<br>

<a href="/movies">Want to see the movies?</a>