<div>
<h2>New Book:</h2>

<form action="/books" method="post" accept-charset="utf-8">
  <p>
    <label>New Title:</label>
    <input type="text" name="title"/>
  </p>
   <p>
    <label>Number of Pages:</label>
    <input type="text" name="numberOfPages"/>
  </p>
   <p>
    <label>Author:</label>
    <input type="text" name="author"/>
  </p>
   <p>
    <label>genre:</label>
    <input type="text" name="genre"/>
  </p>
   <p>
    <label>Worth reading?: (true or false)</label>
    <input type="text" name="worthReading"/>
  </p>
   <p>
    <label>Year:</label>
    <input type="text" name="year"/>
  </p>
   <p>
    <label>hardcover?: (true or false)</label>
    <input type="text" name="hardcover"/>
  </p>
   <p>
    <label>paperback?: (true or false)</label>
    <input type="text" name="paperback"/>
  </p>
  <input class="button"type="submit" value="Create" />
</form>
</div>

<style>
  body{
    background-image: url("https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/book-quotes-1531945007.jpg?crop=1.00xw:0.753xh;0,0.247xh&resize=480:*");
    background-repeat: no-repeat;
    background-size:cover;
  }
  div{
    background-color:rgba(189, 213, 210, .7);
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    font-size: 24px;
    text-align: center;

  }
  .button{
    width: 300px;
    height: 50px;
    background-color: rgb(165, 139, 114);
    color: rgb(189, 213, 210);
    font-size: 24px;
  }
  .button:hover{
    background-color:salmon;
  }
</style>