<h2>New Movie:</h2>

<form action="/" method="post" accept-charset="utf-8">
  <p>
    <label>Movie Name:</label>
    <input type="text" name="Movie Name"/>
  </p>
  <input type="submit" value="Create" />
</form>