body{
    background-image:
    url("https://images2.minutemediacdn.com/image/upload/c_fill,g_auto,h_1248,w_2220/f_auto,q_auto,w_1100/v1554919465/shape/mentalfloss/istock-157382617.jpg");
    margin: 0px 0px 0px 100px;
    background-size: cover;
    background-repeat: no-repeat;
}
a{
  
    color:yellow;
    font-size: 18px;
}
a:hover{
   color: green;

}
h1{
   color:red;
}