body{
    background-image: url("http://static1.squarespace.com/static/53cbed3de4b0c984e431b64d/53cd5808e4b0d40dcfea4855/593d549be4fcb5a7cbb206cc/1497193358774/open-book.jpg?format=1500w");
    background-size: cover;
    background-repeat: no-repeat;
}
section{
    text-align: center;
}
a:hover{
    color:grey;
    
}